<rewrite>
  <rules>
    <!--#RewriteEngine On-->
    <!--#RewriteBase /cms-->
    <!--#RewriteCond %{REQUEST_FILENAME} !-f-->
    <!--#RewriteCond %{REQUEST_FILENAME} !-d-->
    <!--#RewriteRule ^(.+)$ aterda.ast?path=$1 [QSA,L]-->
    <!--#IndexIgnore *-->
    <!--#gzip -->
    <!--#mod_rewrite-->
    <!--#gzip2-->
    <!--#AddOutputFilterByType DEFLATE text/plain-->
    <!--#AddOutputFilterByType DEFLATE text/html-->
    <!--#AddOutputFilterByType DEFLATE text/xml-->
    <!--#AddOutputFilterByType DEFLATE text/css-->
    <!--#AddOutputFilterByType DEFLATE application/xml-->
    <!--#AddOutputFilterByType DEFLATE application/xhtml+xml-->
    <!--#AddOutputFilterByType DEFLATE application/rss+xml-->
    <!--#AddOutputFilterByType DEFLATE application/javascript-->
    <!--#AddOutputFilterByType DEFLATE application/x-javascript-->
    <!--#addfile types-->
    <!--#AddType application/x-httpd-php .css-->
    <!--#AddType application/x-httpd-php .call-->
    <!--#AddType application/x-httpd-php .con-->
    <!--#AddType application/x-httpd-php .codex-->
    <!--#AddType application/x-httpd-php .ast-->
    <!--#Alternate default index page-->
    <!--#DirectoryIndex asterda.ast-->
    <!--#change to your site name-->
    <!--#ErrorDocument 401 http://localhost/codex/ErrorPage.php?e=401-->
    <!--#ErrorDocument 403 http://localhost/codex/ErrorPage.php?e=403-->
    <!--#ErrorDocument 404 http://localhost/codex/ErrorPage.php?e=404-->
    <!--#ErrorDocument 500 http://localhost/codex/ErrorPage.php?e=500-->
    <!--#ErrorDocument 502 http://localhost/codex/ErrorPage.php?e=502-->
    <!--#ErrorDocument 504 http://localhost/codex/ErrorPage.php?e=504-->
    <!--# Options -MultiViews-->
    <!--#    RewriteEngine On-->
    <!--#    RewriteCond %{REQUEST_FILENAME} !-f-->
    <rule name="Imported Rule 1">
      <match url="^" ignoreCase="false" />
      <action type="Rewrite" url="index.php" />
    </rule>
    <rule name="Imported Rule 2" stopProcessing="true">
      <match url="." ignoreCase="false" />
      <conditions>
        <!--#RewriteRule ^ asterda.ast [QSA,L]-->
        <!--#ErrorDocument 404 /index.php  -->
        <!--#Options -MultiViews-->
        <!--#RewriteEngine On-->
        <!--#RewriteBase /localhost/triophore-->
        <!--#RewriteRule \.(css|js|png|jpg|gif)$ - [L]-->
        <!--#RewriteRule ^(index\.php|robots\.txt)$ - [L]-->
        <!--#RewriteCond %{REQUEST_URI} !(public|theme|dist)-->
        <!--#RewriteRule ^(public/|*\.css|*\.js|*\.png|*\.jpg|*\.gif|robots\.txt) - [L]-->
        <!--#RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.pdf|\.gif|robots\.txt)$ [NC]-->
        <!--#RewriteCond %{REQUEST_FILENAME} !-f-->
        <!--#RewriteCond %{REQUEST_FILENAME} !-d-->
        <!--#RewriteRule ^ (.+)$ index.php?url=$1 [QSA,L]-->
        <!--#RewriteRule ^ index.php [QSA,L]-->
        <!--#RewriteEngine on-->
        <!--#RewriteCond %{REQUEST_FILENAME} !-f-->
        <!--#RewriteRule . index.php [L]-->
        <!--#Options +FollowSymLinks-->
        <!--#RewriteEngine On-->
        <!--#RewriteRule ^(.*)$ index.php [NC,L]-->
        <add input="{URL}" pattern="^(.*)//(.*)$" ignoreCase="false" />
      </conditions>
      <action type="Redirect" redirectType="Permanent" url="{C:1}/{C:2}" />
    </rule>
    <rule name="Imported Rule 3" stopProcessing="true">
      <match url="." ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="index.php" />
    </rule>
  </rules>
</rewrite>
